{% extends 'include/common.html' %}
{% load static %}

{% block title %}{% if room %}编辑会议室{% else %}新增会议室{% endif %}{% endblock %}

{% block content %}
<div class="layui-card">
    <div class="layui-card-header">
        <h3>{% if room %}编辑会议室{% else %}新增会议室{% endif %}</h3>
    </div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            {% csrf_token %}
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">会议室名称 <span style="color: red;">*</span></label>
                        <div class="layui-input-block">
                            {{ form.name }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">位置</label>
                        <div class="layui-input-block">
                            {{ form.location }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">容纳人数</label>
                        <div class="layui-input-block">
                            {{ form.capacity }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="status" {% if room.status %}checked{% endif %} lay-skin="switch" lay-text="可用|不可用">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">设备配置</label>
                <div class="layui-input-block">
                    {{ form.equipment }}
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    {{ form.description }}
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit">保存</button>
                    <a href="{% url 'system:admin_office:meeting_room_list' %}" class="layui-btn layui-btn-primary">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}