<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if object %}编辑客户等级{% else %}新增客户等级{% endif %}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <h3>{% if object %}编辑客户等级{% else %}新增客户等级{% endif %}</h3>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form" method="post">
                            {% csrf_token %}
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">等级名称 <span style="color: red;">*</span></label>
                                        <div class="layui-input-block">
                                            <input type="text" name="title" placeholder="请输入等级名称" class="layui-input" value="{% if object %}{{ object.title }}{% endif %}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">排序</label>
                                        <div class="layui-input-block">
                                            <input type="number" name="sort" placeholder="排序号" class="layui-input" value="{% if object %}{{ object.sort }}{% else %}0{% endif %}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="layui-form-item">
                                <label class="layui-form-label">状态</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="status" {% if not object or object.status %}checked{% endif %} lay-skin="switch" lay-text="启用|禁用">
                                </div>
                            </div>
                            
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" type="submit">保存</button>
                                    <a href="{% url 'customer:customer_grade_list' %}" class="layui-btn layui-btn-primary">返回</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/layui/layui.js"></script>
    <script>
        layui.use(['form'], function(){
            var form = layui.form;
            form.render();
        });
    </script>
</body>
</html>