{% extends 'include/common.html' %}
{% load static %}

{% block title %}{% if asset %}编辑资产{% else %}新增资产{% endif %}{% endblock %}

{% block content %}
<div class="layui-card">
    <div class="layui-card-header">
        <h3>{% if asset %}编辑资产{% else %}新增资产{% endif %}</h3>
    </div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            {% csrf_token %}
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">资产编号 <span style="color: red;">*</span></label>
                        <div class="layui-input-block">
                            {{ form.asset_number }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">资产名称 <span style="color: red;">*</span></label>
                        <div class="layui-input-block">
                            {{ form.name }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">资产分类</label>
                        <div class="layui-input-block">
                            {{ form.category }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">品牌</label>
                        <div class="layui-input-block">
                            {{ form.brand }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">型号</label>
                        <div class="layui-input-block">
                            {{ form.model }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">规格参数</label>
                <div class="layui-input-block">
                    {{ form.specification }}
                </div>
            </div>
            
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">购买日期</label>
                        <div class="layui-input-block">
                            {{ form.purchase_date }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">购买价格</label>
                        <div class="layui-input-block">
                            {{ form.purchase_price }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">保修期(月)</label>
                        <div class="layui-input-block">
                            {{ form.warranty_period }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">供应商</label>
                        <div class="layui-input-block">
                            {{ form.supplier }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">存放位置</label>
                        <div class="layui-input-block">
                            {{ form.location }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">责任人</label>
                        <div class="layui-input-block">
                            {{ form.responsible_person }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属部门</label>
                        <div class="layui-input-block">
                            {{ form.department }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">资产状态</label>
                        <div class="layui-input-block">
                            {{ form.status }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">备注说明</label>
                <div class="layui-input-block">
                    {{ form.description }}
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit">保存</button>
                    <a href="{% url 'system:admin_office:asset_list' %}" class="layui-btn layui-btn-primary">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}