{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="layui-card">
    <div class="layui-card-header">
        <i class="layui-icon layui-icon-util"></i> 待我审批
    </div>
    <div class="layui-card-body">
        <table id="pendingTable" lay-filter="pendingTable"></table>
        
        <script type="text/html" id="statusTpl">
            {% verbatim %}
            {{#  if(d.status === 0){ }}
            <span class="layui-badge layui-bg-blue">待审批</span>
            {{#  } else if(d.status === 1){ }}
            <span class="layui-badge layui-bg-orange">审批中</span>
            {{#  } else if(d.status === 2){ }}
            <span class="layui-badge layui-bg-green">已通过</span>
            {{#  } else if(d.status === 3){ }}
            <span class="layui-badge layui-bg-red">已拒绝</span>
            {{#  } else { }}
            <span class="layui-badge">已取消</span>
            {{#  } }}
            {% endverbatim %}
        </script>
        
        <script type="text/html" id="actionTpl">
            <button class="layui-btn layui-btn-xs layui-btn-normal" lay-event="process">处理</button>
            <button class="layui-btn layui-btn-xs" lay-event="view">查看</button>
        </script>
    </div>
</div>

<script>
layui.use(['table', 'layer'], function(){
    var table = layui.table;
    var layer = layui.layer;
    var $ = layui.$;
    
    table.render({
        elem: '#pendingTable',
        url: '{% url "approval:get_pending_approvals" %}',
        page: true,
        limit: 10,
        cols: [[
            {field: 'id', title: 'ID', width: 80, sort: true},
            {field: 'title', title: '审批标题', minWidth: 150},
            {field: 'flow_name', title: '流程名称', width: 120},
            {field: 'current_step', title: '当前步骤', width: 100},
            {field: 'content', title: '申请内容', minWidth: 150},
            {field: 'create_time', title: '申请时间', width: 160},
            {title: '操作', width: 150, templet: '#actionTpl'}
        ]],
        parseData: function(res){
            return {
                "code": res.code,
                "msg": res.msg || '',
                "count": res.count,
                "data": res.data
            };
        }
    });
    
    table.on('tool(pendingTable)', function(obj){
        if(obj.event === 'process'){
            layer.open({
                type: 2,
                title: '处理审批',
                content: '/approval/' + obj.data.id + '/process/',
                area: ['65%', '90%'],
                offset: 'r',
                anim: 'slideLeft',
                maxmin: true
            });
        } else if(obj.event === 'view'){
            layer.open({
                type: 2,
                title: '审批详情',
                content: '/approval/' + obj.data.id + '/',
                area: ['65%', '90%'],
                offset: 'r',
                anim: 'slideLeft',
                maxmin: true
            });
        }
    });
});
</script>
{% endblock %}
