{% extends 'include/common.html' %}
{% load static %}

{% block title %}{% if fee %}编辑费用记录{% else %}新增费用记录{% endif %}{% endblock %}

{% block content %}
<div class="layui-card">
    <div class="layui-card-header">
        <h3>{% if fee %}编辑费用记录{% else %}新增费用记录{% endif %}</h3>
    </div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            {% csrf_token %}
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">车辆</label>
                        <div class="layui-input-block">
                            {{ form.vehicle }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">费用类型</label>
                        <div class="layui-input-block">
                            {{ form.fee_type }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">金额</label>
                        <div class="layui-input-block">
                            {{ form.amount }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">费用日期</label>
                        <div class="layui-input-block">
                            {{ form.fee_date }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">说明</label>
                <div class="layui-input-block">
                    {{ form.description }}
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit">保存</button>
                    <a href="{% url 'system:admin_office:vehicle_fee_list' %}" class="layui-btn layui-btn-primary">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}