{% extends 'include/common.html' %}
{% load static %}

{% block title %}{% if contact %}编辑联系人{% else %}新增联系人{% endif %}{% endblock %}

{% block content %}
<div class="layui-card">
    <div class="layui-card-header">
        <h3>{% if contact %}编辑联系人{% else %}新增联系人{% endif %}</h3>
    </div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            {% csrf_token %}
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名 <span style="color: red;">*</span></label>
                        <div class="layui-input-block">
                            {{ form.name }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">公司</label>
                        <div class="layui-input-block">
                            {{ form.company }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">职位</label>
                        <div class="layui-input-block">
                            {{ form.position }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                            {{ form.phone }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机</label>
                        <div class="layui-input-block">
                            {{ form.mobile }}
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-block">
                            {{ form.email }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-block">
                    {{ form.address }}
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">标签</label>
                <div class="layui-input-block">
                    {{ form.tags }}
                    <div class="layui-form-mid layui-word-aux">多个标签用逗号分隔</div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    {{ form.notes }}
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="checkbox" name="is_important" lay-skin="primary" title="重要联系人" {% if form.is_important.value %}checked{% endif %}>
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit>保存</button>
                    <button type="button" class="layui-btn layui-btn-primary" onclick="history.back()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
layui.use(['form'], function(){
    var form = layui.form;
});
</script>
{% endblock %}